#content {
  background-color: #2D2D2D;
}

.map-container {
  position: relative;
}

#gios-map-container {
  overflow: hidden;
}

h2 {
  color: #F00;
}

h4 {
  color: #FFB204;
}

#gios-map-container p {
  color: #FFF;
}

.asu-breadcrumbs {
  display: none;
  }

.tool-tip {
  background-color: #2F313D;
  border-radius: 5px;
  box-shadow: 5px 5px 3px #000;
  color: #EFF2EE;
  display: none;
  line-height: 1em;
  padding: 0.25em;
  position: absolute;
}

.gios-research-map {
  /* background-color: #2D2D2D; */
  line-height: 0; /* for some reason, this prevents a small padding at the bottom of the map */
  overflow: hidden;
}

.morecontent span {
  display: none;
}

.title-bar {
  color: #FFF;
  font-size: 28px;
  margin: 0 0;
  text-align: center;
}

.overlay {
  background-image: url( "../img/striped-bg.png" );
  background-repeat: repeat;
  display: none;
  height: 100%;
  left:0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 110;
}

.controls {
  text-align: center;
  }

.map-control {
  color: #0080FF;
  cursor: pointer;
  font-size: 48px;
  margin-left: 1.5em;
}

.project-title {
  color: #FFB204;
  font-weight: bold;
}

.map-control-disabled {
  color: #555;
  cursor: not-allowed;
  opacity: 0.5;
}

.disclaimer {
  color: #666;
  margin-top: 1.5rem;
}

.project-box {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.project-box:not(:last-child) {
  /* border-bottom: 1px solid #FFB204; */
  border-bottom: 1px solid #555;
}

.project-description {
  margin-top: 1rem;
}

img.sdg-icon {
  width: 32px;
}

.zoomButton {
  /* To hide the map's built-in zoom controls, since we are using our own */
  display: none;
}

/**
 * Media Queries
 */

@media only screen and (min-width: 768px ) {
   #country-name {
    text-align: left;
  }

  .project-title {
    font-size: 1.225em;
    line-height: 1.3em;
  }
}

@media only screen and (min-width: 992px ) {

  .controls {
    text-align: right;
    z-index: 999;
  }

  .map-control {
    margin-left: 0.5em;
    transition-duration: 0.5s;
    width: auto;
  }

  img.sdg-icon {
    width: 32px;
  }

}
