.map-container {
  position: relative;
}

.tool-tip {
  background-color: #2F313D;
  border-radius: 5px;
  box-shadow: 5px 5px 3px #AAA;
  color: #EFF2EE;
  display: none;
  line-height: 1em;
  padding: 0.25em;
  position: absolute;
}

.gios-research-map {
  background-color: #FFF;
  border: 1px solid #EEE;
  border-radius: 5px;
  line-height: 0; /* for some reason, this prevents a small padding at the bottom of the map */
  overflow: hidden;

}

.morecontent span {
  display: none;
}

#details {
  margin-top: 1rem;
}

.title-bar {
  background-color: #FFF;
  color: #333;
  /* font-size: 28px; */
  text-align: center;
  z-index: 100;
}

.overlay {
  background-image: url( "../img/striped-bg.png" );
  background-repeat: repeat;
  display: none;
  height: 100%;
  left:0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 110;
}

.country-name {
  /* font-weight: bold; */
}

.controls {
  text-align: center;
  }

.map-control {
  color: #0080FF;
  cursor: pointer;
  transition-duration: 0.5s;
  width: 20%;
}

.map-control-disabled {
  cursor: not-allowed;
  opacity: 0.1;
}

.project-box {
  border-radius: 5px;
  padding: 1.25rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.project-box:not(:last-child) {
  margin-bottom: 1.5rem;
}


img.sdg-icon {
  width: 32px;
}

.zoomButton {
  /* To hide the map's built-in zoom controls, since we are using our own */
  display: none;
}


/* styles to override certain things on medium/large screens */
@media only screen and (min-width: 992px ) {

  .country-name {
    text-align: left;
  }

  .controls {
    text-align: right;
  }

  .map-control {
    margin-left: 1em;
    transition-duration: 0.5s;
    width: auto;
  }

  img.sdg-icon {
    width: 48px;
  }

}
