<div id="gios-map-container" data-data-url="{{{data-url}}}">
  <div class="title-bar row">
    <div id="country-name" class="col-sm-8">{{title}}</div>
    <div class="col-sm-4 controls">
      <i id="map-zoom-in" class="fa fa-plus-circle map-control" >&nbsp;</i>
      <i id="map-zoom-out" class="fa fa-minus-circle map-control" >&nbsp;</i>
      <i id="details-close" class="fa fa-times-circle map-control map-control-disabled">&nbsp;</i>
    </div>
  </div>
  {{#if top-text-on}}
    <div class="top-text small text-center">
        {{{top-text}}}
    </div>
  {{/if}}
  <div class="map-container">
    <div class="overlay"></div>
    <div id="research-map" class="gios-research-map"></div>
  </div>
  <div id="details" class="container"></div>
  {{#if bottom-text-on}}
    <div class="bottom-text small text-center">
      {{{bottom-text}}}
    </div>
  {{/if}}
  <div class="tool-tip"></div>
</div>
