<div class="map-container">
  <div class="map">
    <h1>There Will Be Map</h1>
    <p>There's nothing here right now, but soon this template will use a <i>verrrrrry</i> long straw and it will drink your milkshake. It. Will. Drink. Your. Milkshake.</p>
    <p>Oh, and just for fun, it's <b>{{ foo }}</b>, and <b>{{ bar }}</b>.</p>
  </div>
</div>
