<div class="title-bar row">
  <div class="country-name col-md-8 h4"></div>
  <div class="col-md-4 controls h4">
      <i class="fa fa-search-plus map-control map-zoom-in">&nbsp;</i>
      <i class="fa fa-search-minus map-control map-zoom-out">&nbsp;</i>
      <i class="fa fa-globe map-control map-zoom-reset">&nbsp;</i>
      <i class="fa fa-times-circle map-control details-close map-control-disabled">&nbsp;</i>
  </div>
</div>
<div class="map-container">
  <div class="overlay"></div>
  <div id="research-map" class="gios-research-map"></div>
</div>
<div id="details"></div>
<div class="tool-tip"></div>
