<div id="gios-map-container">
  <div class="title-bar row">
    <div id="country-name" class="col-sm-8">Default Title</div>
    <div class="col-sm-4 controls">
      <i id="map-zoom-in" class="fa fa-search-plus map-control" >&nbsp;</i>
      <i id="map-zoom-out" class="fa fa-search-minus map-control" >&nbsp;</i>
      <i id="details-close" class="fa fa-times-circle map-control map-control-disabled">&nbsp;</i>
    </div>
  </div>
  <div class="map-container">
    <div class="overlay"></div>
    <div id="research-map" class="gios-research-map"></div>
  </div>
  <div id="details"></div>
  <div class="tool-tip"></div>
</div>
