<div id="gios-map-container">
  <div class="title-bar row">
    <div id="country-name" class="col-sm-8"></div>
    <div class="col-sm-4 controls">
      <i id="map-zoom-in" class="fa fa-plus-circle map-control" >&nbsp;</i>
      <i id="map-zoom-out" class="fa fa-minus-circle map-control" >&nbsp;</i>
      <i id="details-close" class="fa fa-undo map-control map-control-disabled">&nbsp;</i>
    </div>
  </div>
  <div class="map-container">
    <div class="overlay"></div>
    <div id="research-map" class="gios-research-map"></div>
  </div>
  <div id="details" class="container"></div>
  <div class="disclaimer small text-center">
    This map represents only a sample of the research projects, and other global activities, of the Julie Ann Wrigley Institute of Sustainability. For more information, <a href="#">click here</a>.
  </div>
  <div class="tool-tip"></div>
</div>
